Node_red_ESP32_to_rabbitmq_v3_1_1.json.json
[
    {
        "id": "9e40bafdf15118d1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "501177ee28a04156",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "e3edeb7bbceb13ee",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "49329e8d841b8a14",
        "type": "tab",
        "label": "Flow 3",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "e3898e3849aa7267",
        "type": "tab",
        "label": "Flow 4",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "80c9991c1c848622",
        "type": "tab",
        "label": "Rabbitmq tests",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "bd55137de481d83e",
        "type": "tab",
        "label": "Rabbitmq_Areas",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "ae2a399a07d81a04",
        "type": "tab",
        "label": "Rabbitmq_esp32",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "98864c2935da33bb",
        "type": "tab",
        "label": "UI subscripciones",
        "disabled": false,
        "info": "Se muestran las subscripciones \nde manera general ",
        "env": []
    },
    {
        "id": "15a1ebd102b51f5f",
        "type": "tab",
        "label": "Conexion Serial Esp32 Node-red",
        "disabled": false,
        "info": "Conexion serial entre la Esp32 y\nnode-red",
        "env": []
    },
    {
        "id": "e03ff738f41ef9ba",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "83acecf21e11a3e7",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#3584e4",
                "baseFont": "Times New Roman,Times,serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#62a0ea",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "ITCH",
                "default": "#4B7930",
                "baseColor": "#3584e4",
                "baseFont": "Times New Roman,Times,serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#3584e4",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#1a5fb4",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#deddda",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#62a0ea",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#000000",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#3d3846",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#3584e4",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Times New Roman,Times,serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Control de acceso para barreras vehiculares en el ITch",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6a0232fcc29f7ec3",
        "type": "ui_group",
        "name": "Default",
        "tab": "e03ff738f41ef9ba",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7038418ca82f4ed9",
        "type": "serial-port",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "354965f55b3fcdbe",
        "type": "mqtt-broker",
        "name": "Prueba",
        "broker": "3baa2ee357f2493dacd65f0f254ac39f.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "da1509f0bb746ac9",
        "type": "mqtt-broker",
        "name": "HiveMQ_broker_publico",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5a0c38a7493d6827",
        "type": "ui_tab",
        "name": "Pruebas_MQTT_HiveMQ",
        "icon": "Control MQTT",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a944f658167c5c93",
        "type": "ui_group",
        "name": "MQTT_Prueba_Dash",
        "tab": "5a0c38a7493d6827",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5d53ba7e1b667c63",
        "type": "ui_spacer",
        "z": "e3898e3849aa7267",
        "name": "spacer",
        "group": "a944f658167c5c93",
        "order": 4,
        "width": "1",
        "height": "1"
    },
    {
        "id": "aa1b9c843f71eac6",
        "type": "ui_spacer",
        "z": "e3898e3849aa7267",
        "name": "spacer",
        "group": "a944f658167c5c93",
        "order": 8,
        "width": "0",
        "height": "0"
    },
    {
        "id": "6cb61f99da24d670",
        "type": "mqtt-broker",
        "name": "Rabbitmq_local",
        "broker": "localhost",
        "port": "3883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3607fcd35d93091c",
        "type": "ui_tab",
        "name": "RabbitMQ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a6c15da024ec1b5e",
        "type": "ui_group",
        "name": "Entrada tecnologico",
        "tab": "3607fcd35d93091c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d22f5cd56ae62d1",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "66199f973ce46590",
        "type": "ui_group",
        "name": "Salida tecnologico",
        "tab": "3607fcd35d93091c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "01b38581982cda66",
        "type": "ui_group",
        "name": "Encendido general",
        "tab": "3607fcd35d93091c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e27ab0c8d28b953d",
        "type": "ui_tab",
        "name": "Subscripcion general",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ac15fd8c802b0f81",
        "type": "ui_tab",
        "name": "Subscripcion A1",
        "icon": "Subscripcion A1",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bff01c0388cb979c",
        "type": "ui_group",
        "name": "Subscripcion Area 1 (Tecnologico)",
        "tab": "ac15fd8c802b0f81",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "49884ee4988ab81c",
        "type": "ui_tab",
        "name": "Subscripcion A2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "230d49a66e3538d5",
        "type": "ui_group",
        "name": "Subscripcion A2",
        "tab": "49884ee4988ab81c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0215978275567f11",
        "type": "ui_group",
        "name": "Entrada 10 de Mayo",
        "tab": "3607fcd35d93091c",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "adbf4889b697b61c",
        "type": "ui_group",
        "name": "Salida 10 de Mayo",
        "tab": "3607fcd35d93091c",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d928288baa36f3d5",
        "type": "ui_group",
        "name": "Laboratorio de electronica A3",
        "tab": "3607fcd35d93091c",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "deb653af466f0133",
        "type": "ui_group",
        "name": "Subscripcion general",
        "tab": "e27ab0c8d28b953d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0f566d9a40fcb9a2",
        "type": "ui_tab",
        "name": "Control manual",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b904c10c6752edc9",
        "type": "ui_group",
        "name": "Control manual",
        "tab": "0f566d9a40fcb9a2",
        "order": 7,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "08e5632cffdfba40",
        "type": "inject",
        "z": "501177ee28a04156",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "ef4d1215b7a2cafd"
            ]
        ]
    },
    {
        "id": "47e58ce6f31174ba",
        "type": "inject",
        "z": "501177ee28a04156",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "ef4d1215b7a2cafd"
            ]
        ]
    },
    {
        "id": "ef4d1215b7a2cafd",
        "type": "function",
        "z": "501177ee28a04156",
        "name": "function 1",
        "func": "\nif(msg.payload == true)\n    msg.payload = \"User ok\"\nelse\n    msg.payload = \"User not found\"\n\n    \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 140,
        "wires": [
            [
                "b9adeb1e2f1a1d4a"
            ]
        ]
    },
    {
        "id": "b9adeb1e2f1a1d4a",
        "type": "ui_text",
        "z": "501177ee28a04156",
        "group": "6a0232fcc29f7ec3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 180,
        "wires": []
    },
    {
        "id": "91bd1289c6c062ad",
        "type": "ui_text_input",
        "z": "501177ee28a04156",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "6a0232fcc29f7ec3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "fd749adac15a841b"
            ]
        ]
    },
    {
        "id": "fd749adac15a841b",
        "type": "function",
        "z": "501177ee28a04156",
        "name": "function 2",
        "func": "\n/*\n\nSi lo encontro en la base de datos entonces\n\nif(userFound == true)\n    msg.payload = true;\nelse\n    msg.payload = false;\n\n*/\nif(msg.payload == \"1\")\n    msg.payload = true;\nelse\n    msg.payload = false;\n    \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "ef4d1215b7a2cafd",
                "8bd1a87c6ab8a933"
            ]
        ]
    },
    {
        "id": "56981d1c6158fb46",
        "type": "ui_button",
        "z": "501177ee28a04156",
        "name": "",
        "group": "6a0232fcc29f7ec3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 420,
        "wires": [
            [
                "91bd1289c6c062ad"
            ]
        ]
    },
    {
        "id": "8bd1a87c6ab8a933",
        "type": "ui_led",
        "z": "501177ee28a04156",
        "order": 3,
        "group": "6a0232fcc29f7ec3",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "044cb3cf38aadc13",
        "type": "delay",
        "z": "501177ee28a04156",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 540,
        "y": 380,
        "wires": [
            [
                "8bd1a87c6ab8a933"
            ]
        ]
    },
    {
        "id": "0c9ca423ddb3a1ef",
        "type": "inject",
        "z": "501177ee28a04156",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "a",
        "payloadType": "str",
        "x": 330,
        "y": 420,
        "wires": [
            [
                "044cb3cf38aadc13"
            ]
        ]
    },
    {
        "id": "d2e66cfc4a788b1f",
        "type": "inject",
        "z": "e3edeb7bbceb13ee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "22.3",
        "payloadType": "num",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "27aad5a78b76b18e"
            ]
        ]
    },
    {
        "id": "f987d5be143b4b56",
        "type": "ui_gauge",
        "z": "e3edeb7bbceb13ee",
        "name": "",
        "group": "6a0232fcc29f7ec3",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "094791cf88f0ac42",
        "type": "inject",
        "z": "e3edeb7bbceb13ee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20.3",
        "payloadType": "num",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "27aad5a78b76b18e"
            ]
        ]
    },
    {
        "id": "27aad5a78b76b18e",
        "type": "function",
        "z": "e3edeb7bbceb13ee",
        "name": "function 3",
        "func": "\nglobal.set('temp', msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "45f2b61e88ec45bf",
        "type": "function",
        "z": "e3edeb7bbceb13ee",
        "name": "function 4",
        "func": "\nlet temp = global.get('temp');\n\nmsg.payload = temp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 160,
        "wires": [
            [
                "f987d5be143b4b56"
            ]
        ]
    },
    {
        "id": "64a943b8beda9654",
        "type": "inject",
        "z": "e3edeb7bbceb13ee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 490,
        "y": 240,
        "wires": [
            [
                "45f2b61e88ec45bf"
            ]
        ]
    },
    {
        "id": "c9d5c6ddcdaf42c2",
        "type": "inject",
        "z": "49329e8d841b8a14",
        "name": "Led-1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control-led",
        "payload": "true",
        "payloadType": "bool",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "52499b7fbcebcd28"
            ]
        ]
    },
    {
        "id": "52499b7fbcebcd28",
        "type": "mqtt out",
        "z": "49329e8d841b8a14",
        "name": "",
        "topic": "control-led",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "354965f55b3fcdbe",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "53dc0c4fe726b866",
        "type": "inject",
        "z": "49329e8d841b8a14",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control-led",
        "payload": "0",
        "payloadType": "str",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "52499b7fbcebcd28"
            ]
        ]
    },
    {
        "id": "69f3857d7a925c90",
        "type": "comment",
        "z": "49329e8d841b8a14",
        "name": "MQTT control led ",
        "info": "Se va a subscribir al broker con la \ninformacion, muy inportante marcar la \ncasilla de (use TLS), para que se concecte \nsi no se marca no se va a poder conectar\n",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "63f60b2abbb87702",
        "type": "comment",
        "z": "49329e8d841b8a14",
        "name": "Controles para el encendido del led ",
        "info": "Utilizo los bloques de inject\nEn este caso use un valor booleano y un\nstring, el string por un error de codigo\nde la ESP32, si no utilizaria los dos injects\ncomo booleanos, muy importante configurar el topico\n",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "f30652834307ea9f",
        "type": "ui_button",
        "z": "49329e8d841b8a14",
        "name": "",
        "group": "6a0232fcc29f7ec3",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Encendido General",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "control-led",
        "topicType": "msg",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "52499b7fbcebcd28",
                "bace14cb15943088",
                "15a6d3f4d818a5ed"
            ]
        ]
    },
    {
        "id": "e74a473a57997fea",
        "type": "ui_button",
        "z": "49329e8d841b8a14",
        "name": "",
        "group": "6a0232fcc29f7ec3",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Apagado General",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "control-led",
        "topicType": "msg",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "52499b7fbcebcd28",
                "f5e8677af033ff27"
            ]
        ]
    },
    {
        "id": "bace14cb15943088",
        "type": "ui_audio",
        "z": "49329e8d841b8a14",
        "name": "",
        "group": "6a0232fcc29f7ec3",
        "voice": "urn:moz-tts:speechd:Urdu+RicishayMax2?ur",
        "always": "",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "15a6d3f4d818a5ed",
        "type": "ui_toast",
        "z": "49329e8d841b8a14",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "control-led",
        "name": "Led encendido",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "f5e8677af033ff27",
        "type": "ui_toast",
        "z": "49329e8d841b8a14",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "control-led",
        "name": "Led apagado",
        "x": 530,
        "y": 420,
        "wires": []
    },
    {
        "id": "8d43ece52769827c",
        "type": "ui_button",
        "z": "49329e8d841b8a14",
        "name": "",
        "group": "6a0232fcc29f7ec3",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Encendido ESP1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "control-led-esp-1",
        "topicType": "msg",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "bd1ccb27dffe9af5"
            ]
        ]
    },
    {
        "id": "0b3a32270cc14c36",
        "type": "ui_button",
        "z": "49329e8d841b8a14",
        "name": "",
        "group": "6a0232fcc29f7ec3",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Apagado ESP1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "control-led-esp-1",
        "topicType": "msg",
        "x": 140,
        "y": 480,
        "wires": [
            [
                "bd1ccb27dffe9af5"
            ]
        ]
    },
    {
        "id": "098c3deca8b29e4b",
        "type": "ui_button",
        "z": "49329e8d841b8a14",
        "name": "",
        "group": "6a0232fcc29f7ec3",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Encendido ESP2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "control-led-esp-2",
        "topicType": "msg",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "5364e0ebf2c6c7cf"
            ]
        ]
    },
    {
        "id": "a78b10943e5596cb",
        "type": "ui_button",
        "z": "49329e8d841b8a14",
        "name": "",
        "group": "6a0232fcc29f7ec3",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Apagado ESP2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "control-led-esp-2",
        "topicType": "msg",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "5364e0ebf2c6c7cf"
            ]
        ]
    },
    {
        "id": "bd1ccb27dffe9af5",
        "type": "mqtt out",
        "z": "49329e8d841b8a14",
        "name": "",
        "topic": "control-led-esp-1",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "354965f55b3fcdbe",
        "x": 570,
        "y": 500,
        "wires": []
    },
    {
        "id": "5364e0ebf2c6c7cf",
        "type": "mqtt out",
        "z": "49329e8d841b8a14",
        "name": "",
        "topic": "control-led-esp-2",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "354965f55b3fcdbe",
        "x": 570,
        "y": 580,
        "wires": []
    },
    {
        "id": "f10cfebd42e07e11",
        "type": "ui_button",
        "z": "e3898e3849aa7267",
        "name": "",
        "group": "a944f658167c5c93",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Encendido General",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off ",
        "payload": "On",
        "payloadType": "str",
        "topic": "/itch/#",
        "topicType": "msg",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "b77b8045672c5ff0",
                "c3c914edc61958db",
                "48c67e2ebec3f177",
                "566e34b9da07ecd3"
            ]
        ]
    },
    {
        "id": "e055290197494fad",
        "type": "ui_button",
        "z": "e3898e3849aa7267",
        "name": "",
        "group": "a944f658167c5c93",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Apagado General",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off ",
        "payload": "Off",
        "payloadType": "str",
        "topic": "/itch/#",
        "topicType": "msg",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "f8199e9adf89c8ae",
                "c3c914edc61958db",
                "48c67e2ebec3f177",
                "566e34b9da07ecd3"
            ]
        ]
    },
    {
        "id": "b77b8045672c5ff0",
        "type": "mqtt out",
        "z": "e3898e3849aa7267",
        "name": "",
        "topic": "/itch/labMeca/led/cmd/on",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "da1509f0bb746ac9",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "f8199e9adf89c8ae",
        "type": "mqtt out",
        "z": "e3898e3849aa7267",
        "name": "",
        "topic": "/itch/labMeca/led/cmd/off",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "da1509f0bb746ac9",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "5b5f24f9de5717e1",
        "type": "comment",
        "z": "e3898e3849aa7267",
        "name": "Botones",
        "info": "Los botones de encendido tienen que llevar un topico\naun no se si esto es opcional o no, investigar",
        "x": 120,
        "y": 20,
        "wires": []
    },
    {
        "id": "681b2b746e444b4b",
        "type": "comment",
        "z": "e3898e3849aa7267",
        "name": "Mensajes MQTT",
        "info": "Especificar la ruta para mandar mensajes MQTT\nno es necesario marcar la casilla TTLS en el servidor publico",
        "x": 580,
        "y": 40,
        "wires": []
    },
    {
        "id": "6de70c49bce46599",
        "type": "mqtt out",
        "z": "e3898e3849aa7267",
        "name": "",
        "topic": "/itch/labMeca/led/cmd/esp_sim/off",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "da1509f0bb746ac9",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "c74a08ad62f8b7da",
        "type": "mqtt out",
        "z": "e3898e3849aa7267",
        "name": "",
        "topic": "/itch/labMeca/led/cmd/esp_sim/on",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "da1509f0bb746ac9",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "fae28514d706cd74",
        "type": "ui_button",
        "z": "e3898e3849aa7267",
        "name": "",
        "group": "a944f658167c5c93",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Encendido ESP simulador",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off ",
        "payload": "On1",
        "payloadType": "str",
        "topic": "/itch/labMeca/led/cmd/esp_sim/on",
        "topicType": "msg",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "c74a08ad62f8b7da",
                "48c67e2ebec3f177"
            ]
        ]
    },
    {
        "id": "1c49b3e4c6a83d3b",
        "type": "ui_button",
        "z": "e3898e3849aa7267",
        "name": "",
        "group": "a944f658167c5c93",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Apagado ESP simulador",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off ",
        "payload": "Off1",
        "payloadType": "str",
        "topic": "/itch/labMeca/led/cmd/esp_sim/off",
        "topicType": "msg",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "6de70c49bce46599",
                "48c67e2ebec3f177"
            ]
        ]
    },
    {
        "id": "a2eb7b899aeb6f0f",
        "type": "mqtt out",
        "z": "e3898e3849aa7267",
        "name": "",
        "topic": "/itch/labMeca/led/cmd/esp_sim_2/off",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "da1509f0bb746ac9",
        "x": 610,
        "y": 480,
        "wires": []
    },
    {
        "id": "57af067876301f69",
        "type": "mqtt out",
        "z": "e3898e3849aa7267",
        "name": "",
        "topic": "/itch/labMeca/led/cmd/esp_sim_2/on",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "da1509f0bb746ac9",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "103fd27a15584aba",
        "type": "ui_button",
        "z": "e3898e3849aa7267",
        "name": "",
        "group": "a944f658167c5c93",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Encendido ESP simulador 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off ",
        "payload": "On2",
        "payloadType": "str",
        "topic": "/itch/labMeca/led/cmd/esp_sim_2/on",
        "topicType": "msg",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "57af067876301f69",
                "566e34b9da07ecd3"
            ]
        ]
    },
    {
        "id": "6332763f696fa912",
        "type": "ui_button",
        "z": "e3898e3849aa7267",
        "name": "",
        "group": "a944f658167c5c93",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Apagado ESP simulador 2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off ",
        "payload": "Off2",
        "payloadType": "str",
        "topic": "/itch/labMeca/led/cmd/esp_sim_2/off",
        "topicType": "msg",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "a2eb7b899aeb6f0f",
                "566e34b9da07ecd3"
            ]
        ]
    },
    {
        "id": "c3c914edc61958db",
        "type": "function",
        "z": "e3898e3849aa7267",
        "name": "Encendido leds general",
        "func": "if(msg.payload == \"On\")\n    msg.payload = true;\nelse if(msg.payload == \"Off\")\n    msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "3642c3735b5af007"
            ]
        ]
    },
    {
        "id": "3642c3735b5af007",
        "type": "ui_led",
        "z": "e3898e3849aa7267",
        "order": 1,
        "group": "a944f658167c5c93",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 670,
        "y": 220,
        "wires": []
    },
    {
        "id": "48c67e2ebec3f177",
        "type": "function",
        "z": "e3898e3849aa7267",
        "name": "Encendido led ESP1",
        "func": "if(msg.payload == \"On1\")\n    msg.payload = \"On1\";\nelse if(msg.payload == \"Off1\")\n    msg.payload = \"Off1\";\nelse if(msg.payload == \"On\")\n    msg.payload = true; //Encendido general\nelse if(msg.payload == \"Off\")\n    msg.payload = false; //Apagado general\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 380,
        "wires": [
            [
                "29d37edc70220f90"
            ]
        ]
    },
    {
        "id": "29d37edc70220f90",
        "type": "ui_led",
        "z": "e3898e3849aa7267",
        "order": 5,
        "group": "a944f658167c5c93",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Off1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "On1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 380,
        "wires": []
    },
    {
        "id": "08b112f72853c442",
        "type": "ui_led",
        "z": "e3898e3849aa7267",
        "order": 9,
        "group": "a944f658167c5c93",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Off2",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "On2",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "566e34b9da07ecd3",
        "type": "function",
        "z": "e3898e3849aa7267",
        "name": "Encendido leds ESP2",
        "func": "if(msg.payload == \"On1\")\n    msg.payload = \"On2\";\nelse if(msg.payload == \"Off1\")\n    msg.payload = \"Off2\";\nelse if(msg.payload == \"On\")\n    msg.payload = true; //Encendido general\nelse if(msg.payload == \"Off\")\n    msg.payload = false; //Apagado general\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 540,
        "wires": [
            [
                "08b112f72853c442"
            ]
        ]
    },
    {
        "id": "25c1010ad80cb1ed",
        "type": "mqtt out",
        "z": "e3898e3849aa7267",
        "name": "",
        "topic": "/itch/pluma1",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "da1509f0bb746ac9",
        "x": 550,
        "y": 600,
        "wires": []
    },
    {
        "id": "b499a03f932ceb38",
        "type": "ui_button",
        "z": "e3898e3849aa7267",
        "name": "",
        "group": "a944f658167c5c93",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Encendido Custom",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off ",
        "payload": "0",
        "payloadType": "num",
        "topic": "/itch/pluma1",
        "topicType": "msg",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "25c1010ad80cb1ed"
            ]
        ]
    },
    {
        "id": "c97e16bba27e29b6",
        "type": "mqtt out",
        "z": "80c9991c1c848622",
        "name": "",
        "topic": "quick.orange.rabbit",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "2d8e2562a9e6f3e7",
        "type": "inject",
        "z": "80c9991c1c848622",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "quick.orange.rabbit",
        "payload": "Uno conejo naranja rapido",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "e255ae84f0599a8d",
                "c97e16bba27e29b6"
            ]
        ]
    },
    {
        "id": "e255ae84f0599a8d",
        "type": "debug",
        "z": "80c9991c1c848622",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "59dee6ace0c5244d",
        "type": "mqtt out",
        "z": "80c9991c1c848622",
        "name": "",
        "topic": "lazy.pink.rabbit",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "65854a2e77838a38",
        "type": "inject",
        "z": "80c9991c1c848622",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "lazy.pink.rabbit",
        "payload": "Conejo rosa flojo",
        "payloadType": "str",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "59dee6ace0c5244d"
            ]
        ]
    },
    {
        "id": "321072ae7c536fc7",
        "type": "inject",
        "z": "bd55137de481d83e",
        "name": "Entrada Tecnologico",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hola que tal",
        "payloadType": "str",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "f01c5a67541cbbe8",
                "03096c610660eea4"
            ]
        ]
    },
    {
        "id": "f0842caee0132302",
        "type": "inject",
        "z": "bd55137de481d83e",
        "name": "Entrada 10 mayo",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Entrada 10 mayo",
        "payloadType": "str",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "1b8309afac0e27cd"
            ]
        ]
    },
    {
        "id": "8b4984dabbde1cab",
        "type": "inject",
        "z": "bd55137de481d83e",
        "name": "Entrada CCI",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Entrada CCI",
        "payloadType": "str",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "de13bb855fb02577"
            ]
        ]
    },
    {
        "id": "c2dfde2cb70559ce",
        "type": "inject",
        "z": "bd55137de481d83e",
        "name": "Entrada laboratorio electronica",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Entrada laboratorio electronica",
        "payloadType": "str",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "02d66a784dd35de2"
            ]
        ]
    },
    {
        "id": "a4296e7ea5a690bc",
        "type": "inject",
        "z": "bd55137de481d83e",
        "name": "Entrada industrias",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Entrada industrias",
        "payloadType": "str",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "e399621de7636090"
            ]
        ]
    },
    {
        "id": "9837f5da270721bd",
        "type": "inject",
        "z": "bd55137de481d83e",
        "name": "Salida Tecnologico",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Salida Tecnologico",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "6b792ba87bbc0a07",
                "bd401f2ab9f2c69c"
            ]
        ]
    },
    {
        "id": "b1248d81db392424",
        "type": "inject",
        "z": "bd55137de481d83e",
        "name": "Salida 10 mayo",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Salida 10 mayo",
        "payloadType": "str",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "33b4f17819e83977"
            ]
        ]
    },
    {
        "id": "81df5b0e3fb86bcd",
        "type": "inject",
        "z": "bd55137de481d83e",
        "name": "Salida CCI",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Salida CCI",
        "payloadType": "str",
        "x": 100,
        "y": 320,
        "wires": [
            [
                "f46ccdd3c8b8ee1d"
            ]
        ]
    },
    {
        "id": "a12b03ad01f32995",
        "type": "inject",
        "z": "bd55137de481d83e",
        "name": "Salida industrias",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Salida industrias",
        "payloadType": "str",
        "x": 120,
        "y": 480,
        "wires": [
            [
                "ccb441f01b7d1a40"
            ]
        ]
    },
    {
        "id": "f01c5a67541cbbe8",
        "type": "mqtt out",
        "z": "bd55137de481d83e",
        "name": "",
        "topic": "tec1.a1.entrada.error",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 560,
        "y": 160,
        "wires": []
    },
    {
        "id": "1b8309afac0e27cd",
        "type": "mqtt out",
        "z": "bd55137de481d83e",
        "name": "",
        "topic": "tec1.a2.entrada.error",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 560,
        "y": 220,
        "wires": []
    },
    {
        "id": "02d66a784dd35de2",
        "type": "mqtt out",
        "z": "bd55137de481d83e",
        "name": "",
        "topic": "tec1.a3.entrada.error",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 560,
        "y": 280,
        "wires": []
    },
    {
        "id": "de13bb855fb02577",
        "type": "mqtt out",
        "z": "bd55137de481d83e",
        "name": "",
        "topic": "tec1.a4.entrada.error",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "e399621de7636090",
        "type": "mqtt out",
        "z": "bd55137de481d83e",
        "name": "",
        "topic": "tec1.a5.entrada.error",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 560,
        "y": 400,
        "wires": []
    },
    {
        "id": "6b792ba87bbc0a07",
        "type": "mqtt out",
        "z": "bd55137de481d83e",
        "name": "",
        "topic": "tec1.a1.salida.error",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 550,
        "y": 480,
        "wires": []
    },
    {
        "id": "33b4f17819e83977",
        "type": "mqtt out",
        "z": "bd55137de481d83e",
        "name": "",
        "topic": "tec1.a2.salida.error",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 550,
        "y": 540,
        "wires": []
    },
    {
        "id": "6bb618e11c8c8251",
        "type": "mqtt out",
        "z": "bd55137de481d83e",
        "name": "",
        "topic": "tec1.a3.salida.error",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 550,
        "y": 600,
        "wires": []
    },
    {
        "id": "f46ccdd3c8b8ee1d",
        "type": "mqtt out",
        "z": "bd55137de481d83e",
        "name": "",
        "topic": "tec1.a4.salida.error",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 550,
        "y": 660,
        "wires": []
    },
    {
        "id": "ccb441f01b7d1a40",
        "type": "mqtt out",
        "z": "bd55137de481d83e",
        "name": "",
        "topic": "tec1.a5.salida.error",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 550,
        "y": 720,
        "wires": []
    },
    {
        "id": "03096c610660eea4",
        "type": "mqtt out",
        "z": "bd55137de481d83e",
        "name": "",
        "topic": "tec1.a1.entrada.on",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 450,
        "y": 820,
        "wires": []
    },
    {
        "id": "bd401f2ab9f2c69c",
        "type": "mqtt out",
        "z": "bd55137de481d83e",
        "name": "",
        "topic": "tec1.a1.entrada.off",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 450,
        "y": 880,
        "wires": []
    },
    {
        "id": "2426cd7022a31d4b",
        "type": "mqtt out",
        "z": "bd55137de481d83e",
        "name": "",
        "topic": "tec1.a1.salida.on",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 450,
        "y": 960,
        "wires": []
    },
    {
        "id": "173c6704a657828d",
        "type": "mqtt out",
        "z": "bd55137de481d83e",
        "name": "",
        "topic": "tec1.a1.salida.off",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 450,
        "y": 1000,
        "wires": []
    },
    {
        "id": "9ae868e4d727aee1",
        "type": "function",
        "z": "ae2a399a07d81a04",
        "name": "Data entrada encendido tecnologico (A1)",
        "func": "const d = new Date();\nif(msg.payload == true)\n    msg.payload = \"On Entrada tecnologico \" + d.toLocaleString();  // Concatenar \"On\" con la fecha y hora formateada\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 440,
        "wires": [
            [
                "23bd1ab989c36969",
                "5d2857985cc5eddf"
            ]
        ]
    },
    {
        "id": "23bd1ab989c36969",
        "type": "mqtt out",
        "z": "ae2a399a07d81a04",
        "name": "",
        "topic": "tec1.a1.entrada.on",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 770,
        "y": 420,
        "wires": []
    },
    {
        "id": "fce18ab3b1f97cd4",
        "type": "ui_button",
        "z": "ae2a399a07d81a04",
        "name": "",
        "group": "a6c15da024ec1b5e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Entrada Encendido tecnologico",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off ",
        "payload": "true",
        "payloadType": "bool",
        "topic": "tec1.a1.entrada.error",
        "topicType": "msg",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "9ae868e4d727aee1"
            ]
        ]
    },
    {
        "id": "5d2857985cc5eddf",
        "type": "debug",
        "z": "ae2a399a07d81a04",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 500,
        "wires": []
    },
    {
        "id": "db6d25be8cefd25b",
        "type": "ui_button",
        "z": "ae2a399a07d81a04",
        "name": "",
        "group": "a6c15da024ec1b5e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Entrada Apagado tecnologico",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off ",
        "payload": "false",
        "payloadType": "bool",
        "topic": "tec1.a1.entrada.error",
        "topicType": "msg",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "485d49a7bcd9798d"
            ]
        ]
    },
    {
        "id": "06f362dc9f01a5a3",
        "type": "mqtt out",
        "z": "ae2a399a07d81a04",
        "name": "",
        "topic": "tec1.a1.entrada.off",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 750,
        "y": 560,
        "wires": []
    },
    {
        "id": "ea7663390af4ba03",
        "type": "ui_led",
        "z": "ae2a399a07d81a04",
        "order": 2,
        "group": "a6c15da024ec1b5e",
        "width": 0,
        "height": 0,
        "label": "Entrada Tecnologico ",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 630,
        "y": 700,
        "wires": []
    },
    {
        "id": "c87524b3c70e75bc",
        "type": "function",
        "z": "ae2a399a07d81a04",
        "name": "Led indicador Entrada tecnologico ",
        "func": "const d = new Date();\nif(msg.payload == \"On Entrada tecnologico \" + d.toLocaleString())\n    msg.payload = true;\nelse if(msg.payload == \"Off Entrada tecnologico \" + d.toLocaleString())\n    msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 660,
        "wires": [
            [
                "ea7663390af4ba03",
                "26e483f7dac60486"
            ]
        ]
    },
    {
        "id": "ba6aea38e1565851",
        "type": "function",
        "z": "ae2a399a07d81a04",
        "name": "Data salida encendido tecnologico (A1)",
        "func": "const d = new Date();\nif(msg.payload == true)\n    msg.payload = \"On Salida tecnologico \" + d.toLocaleString();  // Concatenar \"On\" con la fecha y hora formateada\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 800,
        "wires": [
            [
                "30d14b0202fff435",
                "3b331969e4ba7440"
            ]
        ]
    },
    {
        "id": "30d14b0202fff435",
        "type": "mqtt out",
        "z": "ae2a399a07d81a04",
        "name": "",
        "topic": "tec1.a1.salida.on",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 790,
        "y": 820,
        "wires": []
    },
    {
        "id": "c606431f7bcca264",
        "type": "ui_button",
        "z": "ae2a399a07d81a04",
        "name": "",
        "group": "66199f973ce46590",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Salida Encendido tecnologico",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off ",
        "payload": "true",
        "payloadType": "bool",
        "topic": "tec1.a1.salida.error",
        "topicType": "msg",
        "x": 150,
        "y": 760,
        "wires": [
            [
                "ba6aea38e1565851"
            ]
        ]
    },
    {
        "id": "3b331969e4ba7440",
        "type": "debug",
        "z": "ae2a399a07d81a04",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 880,
        "wires": []
    },
    {
        "id": "e3a39ed48a13d75d",
        "type": "ui_button",
        "z": "ae2a399a07d81a04",
        "name": "",
        "group": "66199f973ce46590",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Salida Apagado tecnologico",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off ",
        "payload": "false",
        "payloadType": "bool",
        "topic": "tec1.a1.salida.error",
        "topicType": "msg",
        "x": 140,
        "y": 840,
        "wires": [
            [
                "1a8524cb131443e9"
            ]
        ]
    },
    {
        "id": "1a8524cb131443e9",
        "type": "function",
        "z": "ae2a399a07d81a04",
        "name": "Data salida apagado tecnologico (A1)",
        "func": "const d = new Date();\nif(msg.payload == false)\n    msg.payload = \"Off Salida tecnologico \" + d.toLocaleString();  // Concatenar \"On\" con la fecha y hora formateada\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 880,
        "wires": [
            [
                "1c095fa2265339c7",
                "3b331969e4ba7440"
            ]
        ]
    },
    {
        "id": "1c095fa2265339c7",
        "type": "mqtt out",
        "z": "ae2a399a07d81a04",
        "name": "",
        "topic": "tec1.a1.salida.off",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 690,
        "y": 960,
        "wires": []
    },
    {
        "id": "a0396ad369b6cd07",
        "type": "ui_led",
        "z": "ae2a399a07d81a04",
        "order": 2,
        "group": "66199f973ce46590",
        "width": 0,
        "height": 0,
        "label": "Entrada Tecnologico ",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 630,
        "y": 1060,
        "wires": []
    },
    {
        "id": "afdb6fbbbe6cac53",
        "type": "ui_button",
        "z": "ae2a399a07d81a04",
        "name": "",
        "group": "01b38581982cda66",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Encendido general tecnologico",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off ",
        "payload": "true",
        "payloadType": "bool",
        "topic": "#",
        "topicType": "msg",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "fe82942f9cb24c3b"
            ]
        ]
    },
    {
        "id": "fe82942f9cb24c3b",
        "type": "function",
        "z": "ae2a399a07d81a04",
        "name": "Data encendido general (Todas las areas)",
        "func": "if(msg.payload == true){\n    const d = new Date();\n    msg.payload = \"On general \" + d.toLocaleString();  // Concatenar \"On\" con la fecha y hora formateada\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 444,
        "y": 102,
        "wires": [
            [
                "23bd1ab989c36969",
                "30d14b0202fff435",
                "e9d1ce18187bca32",
                "a6342ba73b8d607f",
                "32b122bf9d7c0358",
                "510cbdd5c9c1ef7d"
            ]
        ]
    },
    {
        "id": "47548d60f4ceae8d",
        "type": "mqtt in",
        "z": "ae2a399a07d81a04",
        "name": "",
        "topic": "tec1/a1/entrada/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6cb61f99da24d670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 600,
        "wires": [
            [
                "c87524b3c70e75bc"
            ]
        ]
    },
    {
        "id": "26e483f7dac60486",
        "type": "debug",
        "z": "ae2a399a07d81a04",
        "name": "Mqqt subscription",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 720,
        "wires": []
    },
    {
        "id": "3a440aff0ea33ff3",
        "type": "function",
        "z": "ae2a399a07d81a04",
        "name": "Led indicador On general ",
        "func": "const d = new Date();\nif(msg.payload == \"On general \" + d.toLocaleString())\n    msg.payload = true;\nelse if(msg.payload == \"Off general \" + d.toLocaleString())\n    msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 260,
        "wires": [
            [
                "fbd2ab29591de619"
            ]
        ]
    },
    {
        "id": "51a7c413db5b1710",
        "type": "ui_button",
        "z": "ae2a399a07d81a04",
        "name": "",
        "group": "01b38581982cda66",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Apagado general tecnologico",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off ",
        "payload": "false",
        "payloadType": "bool",
        "topic": "#",
        "topicType": "msg",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "7c8fb1fa5ab6e1f3"
            ]
        ]
    },
    {
        "id": "e9d1ce18187bca32",
        "type": "debug",
        "z": "ae2a399a07d81a04",
        "name": "Mensajes generales",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 80,
        "wires": []
    },
    {
        "id": "7c8fb1fa5ab6e1f3",
        "type": "function",
        "z": "ae2a399a07d81a04",
        "name": "Data apagado general (Todas las areas)",
        "func": "if(msg.payload == false){\n    const d = new Date();\n    msg.payload = \"Off general \" + d.toLocaleString();  // Concatenar \"On\" con la fecha y hora formateada\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 160,
        "wires": [
            [
                "06f362dc9f01a5a3",
                "1c095fa2265339c7",
                "e9d1ce18187bca32",
                "9305f51bf6d14fb2",
                "cd9ebda920e640e3",
                "5f70293a210ec777"
            ]
        ]
    },
    {
        "id": "485d49a7bcd9798d",
        "type": "function",
        "z": "ae2a399a07d81a04",
        "name": "Data entrada apagado tecnologico (A1)",
        "func": "const d = new Date();\nif(msg.payload == false)\n    msg.payload = \"Off Entrada tecnologico \" + d.toLocaleString();  // Concatenar \"Off\" con la fecha y hora formateada\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 540,
        "wires": [
            [
                "06f362dc9f01a5a3",
                "5d2857985cc5eddf"
            ]
        ]
    },
    {
        "id": "e0984bc0539d290f",
        "type": "mqtt in",
        "z": "ae2a399a07d81a04",
        "name": "",
        "topic": "tec1/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6cb61f99da24d670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 240,
        "wires": [
            [
                "3a440aff0ea33ff3",
                "3b3570d03176d7e1"
            ]
        ]
    },
    {
        "id": "fbd2ab29591de619",
        "type": "ui_led",
        "z": "ae2a399a07d81a04",
        "order": 2,
        "group": "01b38581982cda66",
        "width": 0,
        "height": 0,
        "label": "Encendido general",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 470,
        "y": 260,
        "wires": []
    },
    {
        "id": "3b3570d03176d7e1",
        "type": "debug",
        "z": "ae2a399a07d81a04",
        "name": "Mensajes generales leds",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 320,
        "wires": []
    },
    {
        "id": "69a06162b60946dc",
        "type": "mqtt in",
        "z": "ae2a399a07d81a04",
        "name": "",
        "topic": "tec1/a1/salida/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6cb61f99da24d670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 960,
        "wires": [
            [
                "4b968070429b879c"
            ]
        ]
    },
    {
        "id": "4b968070429b879c",
        "type": "function",
        "z": "ae2a399a07d81a04",
        "name": "Led indicador Salida tecnologico ",
        "func": "const d = new Date();\nif(msg.payload == \"On Salida tecnologico \" + d.toLocaleString())\n    msg.payload = true;\nelse if(msg.payload == \"Off Salida tecnologico \" + d.toLocaleString())\n    msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 980,
        "wires": [
            [
                "a0396ad369b6cd07"
            ]
        ]
    },
    {
        "id": "04d7a211894e5ef6",
        "type": "ui_button",
        "z": "ae2a399a07d81a04",
        "name": "",
        "group": "0215978275567f11",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Entrada Encendido 10 de Mayo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off ",
        "payload": "true",
        "payloadType": "bool",
        "topic": "tec1.a1.entrada.error",
        "topicType": "msg",
        "x": 150,
        "y": 1120,
        "wires": [
            [
                "bb6b57318fb4dae8"
            ]
        ]
    },
    {
        "id": "41fefa2adf9277d0",
        "type": "ui_button",
        "z": "ae2a399a07d81a04",
        "name": "",
        "group": "0215978275567f11",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Entrada Apagado 10 de Mayo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off ",
        "payload": "false",
        "payloadType": "bool",
        "topic": "tec1.a1.entrada.error",
        "topicType": "msg",
        "x": 150,
        "y": 1200,
        "wires": [
            [
                "3c542bb14d913cc8"
            ]
        ]
    },
    {
        "id": "bb6b57318fb4dae8",
        "type": "function",
        "z": "ae2a399a07d81a04",
        "name": "Data entrada encendido 10 de Mayo (A2)",
        "func": "const d = new Date();\nif(msg.payload == true)\n    msg.payload = \"On Entrada 10 de Mayo \" + d.toLocaleString();  // Concatenar \"On\" con la fecha y hora formateada\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1160,
        "wires": [
            [
                "a6342ba73b8d607f"
            ]
        ]
    },
    {
        "id": "3c542bb14d913cc8",
        "type": "function",
        "z": "ae2a399a07d81a04",
        "name": "Data entrada apagado 10 de Mayo (A2)",
        "func": "const d = new Date();\nif(msg.payload == false)\n    msg.payload = \"Off Entrada 10 de Mayo \" + d.toLocaleString();  // Concatenar \"Off\" con la fecha y hora formateada\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1260,
        "wires": [
            [
                "9305f51bf6d14fb2"
            ]
        ]
    },
    {
        "id": "a6342ba73b8d607f",
        "type": "mqtt out",
        "z": "ae2a399a07d81a04",
        "name": "",
        "topic": "tec1.a2.entrada.on",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 770,
        "y": 1140,
        "wires": []
    },
    {
        "id": "9305f51bf6d14fb2",
        "type": "mqtt out",
        "z": "ae2a399a07d81a04",
        "name": "",
        "topic": "tec1.a2.entrada.off",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 750,
        "y": 1280,
        "wires": []
    },
    {
        "id": "72fe3d5850ea2ad3",
        "type": "mqtt in",
        "z": "ae2a399a07d81a04",
        "name": "",
        "topic": "tec1/a2/entrada/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6cb61f99da24d670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1340,
        "wires": [
            [
                "627df6adaf0dec1a"
            ]
        ]
    },
    {
        "id": "627df6adaf0dec1a",
        "type": "function",
        "z": "ae2a399a07d81a04",
        "name": "Led indicador Entrada 10 de Mayo",
        "func": "const d = new Date();\nif(msg.payload == \"On Entrada 10 de Mayo \" + d.toLocaleString())\n    msg.payload = true;\nelse if(msg.payload == \"Off Entrada 10 de Mayo \" + d.toLocaleString())\n    msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1400,
        "wires": [
            [
                "49877ed713b3964c"
            ]
        ]
    },
    {
        "id": "49877ed713b3964c",
        "type": "ui_led",
        "z": "ae2a399a07d81a04",
        "order": 2,
        "group": "0215978275567f11",
        "width": 0,
        "height": 0,
        "label": "Entrada 10 de Mayo",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 650,
        "y": 1440,
        "wires": []
    },
    {
        "id": "a6c0c0abdeb56bce",
        "type": "ui_button",
        "z": "ae2a399a07d81a04",
        "name": "",
        "group": "adbf4889b697b61c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Salida Encendido 10 de Mayo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off ",
        "payload": "true",
        "payloadType": "bool",
        "topic": "tec1.a1.entrada.error",
        "topicType": "msg",
        "x": 130,
        "y": 1480,
        "wires": [
            [
                "d2a5bf5eca1393d6"
            ]
        ]
    },
    {
        "id": "8721f4012fa9ddf9",
        "type": "ui_button",
        "z": "ae2a399a07d81a04",
        "name": "",
        "group": "adbf4889b697b61c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Salida Apagado 10 de Mayo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off ",
        "payload": "false",
        "payloadType": "bool",
        "topic": "tec1.a1.entrada.error",
        "topicType": "msg",
        "x": 120,
        "y": 1560,
        "wires": [
            [
                "39028f683741af1d"
            ]
        ]
    },
    {
        "id": "d2a5bf5eca1393d6",
        "type": "function",
        "z": "ae2a399a07d81a04",
        "name": "Data salida encendido 10 de Mayo (A2)",
        "func": "const d = new Date();\nif(msg.payload == true)\n    msg.payload = \"On Salida 10 de Mayo \" + d.toLocaleString();  // Concatenar \"On\" con la fecha y hora formateada\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1520,
        "wires": [
            [
                "32b122bf9d7c0358"
            ]
        ]
    },
    {
        "id": "39028f683741af1d",
        "type": "function",
        "z": "ae2a399a07d81a04",
        "name": "Data salida apagado 10 de Mayo (A2)",
        "func": "const d = new Date();\nif(msg.payload == false)\n    msg.payload = \"Off Salida 10 de Mayo \" + d.toLocaleString();  // Concatenar \"Off\" con la fecha y hora formateada\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1620,
        "wires": [
            [
                "cd9ebda920e640e3"
            ]
        ]
    },
    {
        "id": "32b122bf9d7c0358",
        "type": "mqtt out",
        "z": "ae2a399a07d81a04",
        "name": "",
        "topic": "tec1.a2.salida.on",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 750,
        "y": 1500,
        "wires": []
    },
    {
        "id": "cd9ebda920e640e3",
        "type": "mqtt out",
        "z": "ae2a399a07d81a04",
        "name": "",
        "topic": "tec1.a2.salida.off",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 730,
        "y": 1640,
        "wires": []
    },
    {
        "id": "ed9f42ec5c92c038",
        "type": "mqtt in",
        "z": "ae2a399a07d81a04",
        "name": "",
        "topic": "tec1/a2/salida/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6cb61f99da24d670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1700,
        "wires": [
            [
                "ab3f5893fa46cf9d"
            ]
        ]
    },
    {
        "id": "ab3f5893fa46cf9d",
        "type": "function",
        "z": "ae2a399a07d81a04",
        "name": "Led indicador Salida 10 de Mayo",
        "func": "const d = new Date();\nif(msg.payload == \"On Salida 10 de Mayo \" + d.toLocaleString())\n    msg.payload = true;\nelse if(msg.payload == \"Off Salida 10 de Mayo \" + d.toLocaleString())\n    msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1760,
        "wires": [
            [
                "43cd9a7dcaa391b8"
            ]
        ]
    },
    {
        "id": "43cd9a7dcaa391b8",
        "type": "ui_led",
        "z": "ae2a399a07d81a04",
        "order": 2,
        "group": "adbf4889b697b61c",
        "width": 0,
        "height": 0,
        "label": "Salida 10 de Mayo",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 630,
        "y": 1800,
        "wires": []
    },
    {
        "id": "b7d7427f90b39712",
        "type": "ui_button",
        "z": "ae2a399a07d81a04",
        "name": "",
        "group": "d928288baa36f3d5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Entrada Encendido Lab electronica",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off ",
        "payload": "true",
        "payloadType": "bool",
        "topic": "tec1.a1.entrada.error",
        "topicType": "msg",
        "x": 140,
        "y": 1880,
        "wires": [
            [
                "55908795f9a78be0"
            ]
        ]
    },
    {
        "id": "69e388758d539e2e",
        "type": "ui_button",
        "z": "ae2a399a07d81a04",
        "name": "",
        "group": "d928288baa36f3d5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Entrada Apagado Lab electronica",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-power-off ",
        "payload": "false",
        "payloadType": "bool",
        "topic": "tec1.a1.entrada.error",
        "topicType": "msg",
        "x": 140,
        "y": 1960,
        "wires": [
            [
                "04bdb2236b47624c"
            ]
        ]
    },
    {
        "id": "55908795f9a78be0",
        "type": "function",
        "z": "ae2a399a07d81a04",
        "name": "Data entrada encendido Laboratorio de electronica (A3)",
        "func": "const d = new Date();\nif(msg.payload == true)\n    msg.payload = \"On Entrada Laboratorio de electronica \" + d.toLocaleString();  // Concatenar \"On\" con la fecha y hora formateada\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1940,
        "wires": [
            [
                "510cbdd5c9c1ef7d"
            ]
        ]
    },
    {
        "id": "04bdb2236b47624c",
        "type": "function",
        "z": "ae2a399a07d81a04",
        "name": "Data entrada apagado Laboratorio de electronica (A3)",
        "func": "const d = new Date();\nif(msg.payload == false)\n    msg.payload = \"Off Entrada Laboratorio de electronica \" + d.toLocaleString();  // Concatenar \"Off\" con la fecha y hora formateada\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 2020,
        "wires": [
            [
                "5f70293a210ec777"
            ]
        ]
    },
    {
        "id": "510cbdd5c9c1ef7d",
        "type": "mqtt out",
        "z": "ae2a399a07d81a04",
        "name": "",
        "topic": "tec1.a3.entrada.on",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 990,
        "y": 1880,
        "wires": []
    },
    {
        "id": "5f70293a210ec777",
        "type": "mqtt out",
        "z": "ae2a399a07d81a04",
        "name": "",
        "topic": "tec1.a3.entrada.off",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6cb61f99da24d670",
        "x": 890,
        "y": 2040,
        "wires": []
    },
    {
        "id": "70524c5d272e6111",
        "type": "mqtt in",
        "z": "ae2a399a07d81a04",
        "name": "",
        "topic": "tec1/a3/entrada/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6cb61f99da24d670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 2100,
        "wires": [
            [
                "0180f20181bbfd1b"
            ]
        ]
    },
    {
        "id": "0180f20181bbfd1b",
        "type": "function",
        "z": "ae2a399a07d81a04",
        "name": "Led indicador Entrada Laboratorio de electronica",
        "func": "const d = new Date();\nif(msg.payload == \"On Entrada Laboratorio de electronica \" + d.toLocaleString())\n    msg.payload = true;\nelse if(msg.payload == \"Off Entrada Laboratorio de electronica \" + d.toLocaleString())\n    msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 2160,
        "wires": [
            [
                "2ec03ced699d7276"
            ]
        ]
    },
    {
        "id": "2ec03ced699d7276",
        "type": "ui_led",
        "z": "ae2a399a07d81a04",
        "order": 2,
        "group": "d928288baa36f3d5",
        "width": 0,
        "height": 0,
        "label": "Entrada Lab electronica",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 730,
        "y": 2200,
        "wires": []
    },
    {
        "id": "ab5a1a3dc44d39c4",
        "type": "ui_text",
        "z": "98864c2935da33bb",
        "group": "deb653af466f0133",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Todos los mensajes",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 430,
        "y": 100,
        "wires": []
    },
    {
        "id": "8bb6c72ca4d3bce6",
        "type": "mqtt in",
        "z": "98864c2935da33bb",
        "name": "",
        "topic": "tec1/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6cb61f99da24d670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "ab5a1a3dc44d39c4"
            ]
        ]
    },
    {
        "id": "06df318bc83fd675",
        "type": "mqtt in",
        "z": "98864c2935da33bb",
        "name": "",
        "topic": "tec1/a1/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6cb61f99da24d670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 160,
        "wires": [
            [
                "9375f58c6696254b"
            ]
        ]
    },
    {
        "id": "9375f58c6696254b",
        "type": "ui_text",
        "z": "98864c2935da33bb",
        "group": "bff01c0388cb979c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Subscripcion A1 tecnologico",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 500,
        "y": 200,
        "wires": []
    },
    {
        "id": "cef90c63523897cf",
        "type": "ui_chart",
        "z": "98864c2935da33bb",
        "name": "",
        "group": "bff01c0388cb979c",
        "order": 12,
        "width": 0,
        "height": 0,
        "label": "Grafica entrada tecnlogico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "bb5c963f04ab2aab",
        "type": "function",
        "z": "98864c2935da33bb",
        "name": "Funcion grafica ",
        "func": "let texto = msg.payload.toLowerCase();\n\nif (texto.startsWith(\"on\")) {\n    msg.payload = 1;\n    msg.topic = \"Entrada Tecnologico\";  // opcional, si quers etiquetar\n} else if (texto.startsWith(\"off\")) {\n    msg.payload = 0;\n    msg.topic = \"Entrada Tecnologico\";\n} else {\n    return null;  // ignorar mensajes desconocidos\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 240,
        "wires": [
            [
                "cef90c63523897cf"
            ]
        ]
    },
    {
        "id": "08d5cfbedbda88fa",
        "type": "mqtt in",
        "z": "98864c2935da33bb",
        "name": "",
        "topic": "tec1/a1/entrada/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6cb61f99da24d670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 240,
        "wires": [
            [
                "bb5c963f04ab2aab"
            ]
        ]
    },
    {
        "id": "1d54af8b7b3239a5",
        "type": "mqtt in",
        "z": "98864c2935da33bb",
        "name": "",
        "topic": "tec1/a1/salida/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6cb61f99da24d670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 340,
        "wires": [
            [
                "1ef2fcc6e7fd822f"
            ]
        ]
    },
    {
        "id": "1ef2fcc6e7fd822f",
        "type": "function",
        "z": "98864c2935da33bb",
        "name": "Funcion grafica ",
        "func": "let texto = msg.payload.toLowerCase();\n\nif (texto.startsWith(\"on\")) {\n    msg.payload = 1;\n    msg.topic = \"Salida Tecnologico\";  // opcional, si quers etiquetar\n} else if (texto.startsWith(\"off\")) {\n    msg.payload = 0;\n    msg.topic = \"Salida Tecnologico\";\n} else {\n    return null;  // ignorar mensajes desconocidos\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 340,
        "wires": [
            [
                "2c0dbd9381688f7f"
            ]
        ]
    },
    {
        "id": "2c0dbd9381688f7f",
        "type": "ui_chart",
        "z": "98864c2935da33bb",
        "name": "",
        "group": "bff01c0388cb979c",
        "order": 12,
        "width": 0,
        "height": 0,
        "label": "Grafica salida tecnlogico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "a263d5d2f664f3ba",
        "type": "mqtt in",
        "z": "98864c2935da33bb",
        "name": "",
        "topic": "tec1/a2/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6cb61f99da24d670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 460,
        "wires": [
            [
                "c371b53319a33ff2"
            ]
        ]
    },
    {
        "id": "c371b53319a33ff2",
        "type": "ui_text",
        "z": "98864c2935da33bb",
        "group": "230d49a66e3538d5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Subscripcion A2 tecnologico",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 500,
        "y": 460,
        "wires": []
    },
    {
        "id": "d2de014090449648",
        "type": "ui_chart",
        "z": "98864c2935da33bb",
        "name": "",
        "group": "230d49a66e3538d5",
        "order": 12,
        "width": 0,
        "height": 0,
        "label": "Grafica entrada 10 de Mayo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 520,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "3ac0a93f5a921ebf",
        "type": "function",
        "z": "98864c2935da33bb",
        "name": "Funcion grafica ",
        "func": "let texto = msg.payload.toLowerCase();\n\nif (texto.startsWith(\"on\")) {\n    msg.payload = 1;\n    msg.topic = \"Entrada 10 de Mayo\";  // opcional, si quers etiquetar\n} else if (texto.startsWith(\"off\")) {\n    msg.payload = 0;\n    msg.topic = \"Entrada 10 de Mayo\";\n} else {\n    return null;  // ignorar mensajes desconocidos\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 540,
        "wires": [
            [
                "d2de014090449648"
            ]
        ]
    },
    {
        "id": "a2713fb5dbba7df9",
        "type": "mqtt in",
        "z": "98864c2935da33bb",
        "name": "",
        "topic": "tec1/a2/entrada/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6cb61f99da24d670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 540,
        "wires": [
            [
                "3ac0a93f5a921ebf"
            ]
        ]
    },
    {
        "id": "4e89a8b3a6e45d17",
        "type": "mqtt in",
        "z": "98864c2935da33bb",
        "name": "",
        "topic": "tec1/a2/salida/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6cb61f99da24d670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 640,
        "wires": [
            [
                "2f992ab7a68183e8"
            ]
        ]
    },
    {
        "id": "2f992ab7a68183e8",
        "type": "function",
        "z": "98864c2935da33bb",
        "name": "Funcion grafica ",
        "func": "let texto = msg.payload.toLowerCase();\n\nif (texto.startsWith(\"on\")) {\n    msg.payload = 1;\n    msg.topic = \"Salida 10 de Mayo\";  // opcional, si quers etiquetar\n} else if (texto.startsWith(\"off\")) {\n    msg.payload = 0;\n    msg.topic = \"Salida 10 de Mayo\";\n} else {\n    return null;  // ignorar mensajes desconocidos\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 640,
        "wires": [
            [
                "e640eadb57ea549b"
            ]
        ]
    },
    {
        "id": "e640eadb57ea549b",
        "type": "ui_chart",
        "z": "98864c2935da33bb",
        "name": "",
        "group": "230d49a66e3538d5",
        "order": 12,
        "width": 0,
        "height": 0,
        "label": "Grafica salida 10 de Mayo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "54182c3678cfef9b",
        "type": "serial in",
        "z": "15a1ebd102b51f5f",
        "name": "",
        "serial": "4d22f5cd56ae62d1",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "05e2712fa2965315"
            ]
        ]
    },
    {
        "id": "05e2712fa2965315",
        "type": "debug",
        "z": "15a1ebd102b51f5f",
        "name": "Serial",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "71eb58905f2b11ce",
        "type": "serial out",
        "z": "15a1ebd102b51f5f",
        "name": "",
        "serial": "4d22f5cd56ae62d1",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "c80d80625327685e",
        "type": "inject",
        "z": "15a1ebd102b51f5f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "led=on",
        "payloadType": "str",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "71eb58905f2b11ce",
                "1719c23a2ded180d"
            ]
        ]
    },
    {
        "id": "1719c23a2ded180d",
        "type": "debug",
        "z": "15a1ebd102b51f5f",
        "name": "Selial out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 320,
        "wires": []
    },
    {
        "id": "c8623e477bc1e024",
        "type": "inject",
        "z": "15a1ebd102b51f5f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "led=off",
        "payloadType": "str",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "71eb58905f2b11ce"
            ]
        ]
    },
    {
        "id": "ba3bb79c80bff976",
        "type": "ui_switch",
        "z": "15a1ebd102b51f5f",
        "name": "",
        "label": "Encendido/Apagado",
        "tooltip": "",
        "group": "b904c10c6752edc9",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 220,
        "y": 440,
        "wires": [
            [
                "46a4ffd5869b88c8",
                "4534d16b4822f606"
            ]
        ]
    },
    {
        "id": "46a4ffd5869b88c8",
        "type": "function",
        "z": "15a1ebd102b51f5f",
        "name": "Funcion Control manual ",
        "func": "if(msg.payload == true){\n    msg.payload = \"led=on\";\n}else if(msg.payload == false){\n    msg.payload = \"led=off\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 440,
        "wires": [
            [
                "4e753e738365371a",
                "61128e04c41d11b6"
            ]
        ]
    },
    {
        "id": "4e753e738365371a",
        "type": "serial out",
        "z": "15a1ebd102b51f5f",
        "name": "",
        "serial": "4d22f5cd56ae62d1",
        "x": 730,
        "y": 420,
        "wires": []
    },
    {
        "id": "61128e04c41d11b6",
        "type": "debug",
        "z": "15a1ebd102b51f5f",
        "name": "Switch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 500,
        "wires": []
    },
    {
        "id": "e8dbd52c28687a79",
        "type": "ui_text",
        "z": "15a1ebd102b51f5f",
        "group": "b904c10c6752edc9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mensajes por el puerto serial",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 560,
        "wires": []
    },
    {
        "id": "1020fba68dbb12ce",
        "type": "serial in",
        "z": "15a1ebd102b51f5f",
        "name": "",
        "serial": "4d22f5cd56ae62d1",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "e8dbd52c28687a79"
            ]
        ]
    },
    {
        "id": "ad7386857629c91f",
        "type": "ui_toast",
        "z": "15a1ebd102b51f5f",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Notifiaciones de pluma",
        "x": 620,
        "y": 620,
        "wires": []
    },
    {
        "id": "4534d16b4822f606",
        "type": "function",
        "z": "15a1ebd102b51f5f",
        "name": "Funcion Control manual ",
        "func": "if(msg.payload == true){\n    msg.payload = \"Pluma abierta\";\n}else if(msg.payload == false){\n    msg.payload = \"Puma cerada\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 620,
        "wires": [
            [
                "ad7386857629c91f"
            ]
        ]
    }
]